<div class="row row-cols-1 row-cols-md-3">
  {{#each alldata}}
  <div class="col mb-4">
    <div class="card">
      <img src="{{this.thumbs}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text" value='{{this.price}}'>Precio: {{this.price}}</p>
         <p class="card-text">Lugar: {{this.place}}</p>
          <p class="card-text">Date: {{this.date}}</p>
        <a class="btn btn-primary" href="{{this.link}}" role="button" target="_blank">Link</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>